In [17]:
print ("“Hello World")

“Hello World

# 표현식 및 수학식 입력 가능

In [18]:
1+2+3

6

In [19]:
(0 < 1) and (2 < 3)

True

In [20]:
not (1 == 2)

True

# 변수와 표현식

In [21]:
n=1
name='kim'
n=n+2
value=1.2*n
print("%f is 1.2 * %d" % (value,n))

3.600000 is 1.2 * 3

In [1]:
#피보나치 수열 출력
num = 1
prev = 0
cur = 1
while num < 10:
    next = cur + prev
    print ("%2d %d" % (num, next))
    prev = cur
    cur = next
    num += 1

 1 1
 2 2
 3 3
 4 5
 5 8
 6 13
 7 21
 8 34
 9 55

# 문자열 상수

In [38]:
# 문자열 상수
a = "Hello World"
print(a[0])
print(a[5:8])
print(a[-1])
print(a*2)
b="Goodbye"
print(a+b)

H
 Wo
d
Hello WorldHello World
Hello WorldGoodbye

# 리스트(list)

In [42]:
numbers = [0, 1, 2, 3]
names = ["Kim", "Lee", "Park", "Choi"]
print(numbers[0])
print(names[2:])
print(numbers+names)

0
['Park', 'Choi']
[0, 1, 2, 3, 'Kim', 'Lee', 'Park', 'Choi']

# 튜플 (tuple)

In [2]:
person = ( "Kim", 24, 'male')
a = ( )
print(a)
b = (person, )
print(b)
name, age, gender = person
print('name=',name)

()
(('Kim', 24, 'male'),)
name= Kim

# 집합(set)

In [6]:
even = set([0,2,4,6,8])
hello = set("Hello")
print(hello)
s = even | hello
p = even & hello
print('s=',s)
print('p=',p)
even.add(10)
hello.remove('e')

{'H', 'l', 'o', 'e'}
s= {0, 2, 4, 6, 8, 'o', 'H', 'l', 'e'}
p= set()

# 사전 (dictionary)

In [7]:
me = { "name": "Kim", "age": 44, "gender": "male"}
myname = me["name"]
print('myname=',myname)
me["age"] = 35
print(me)
dict = {}

myname= Kim
{'name': 'Kim', 'age': 35, 'gender': 'male'}

# 객체의 속성

In [9]:
print(type(10))
print(type([1,2]))
print(type(type(10)))

<class 'int'>
<class 'list'>
<class 'type'>

# 조건문

In [13]:
i=6
if i > 0:
    print("this is positive")
elif i == 0:
    print("this is zero")
else:
    print ("this is negative")

this is positive

# 반복문

In [14]:
for i in range(5) :
    print ("%d ^ 2 = %d" % (i, i*i))
c = range(1,6) # c = 1,2,3,4,5
print("c=",c)

0 ^ 2 = 0
1 ^ 2 = 1
2 ^ 2 = 4
3 ^ 2 = 9
4 ^ 2 = 16
c= range(1, 6)

# 반복문

In [15]:
for i in [0, 1, 2, 3, 4]:
    if i % 2 != 0:
        break
    print ("%d ^ 2 = %d" % (i, i*i))

0 ^ 2 = 0

In [16]:
for i in [0, 1, 2, 3, 4]:
    if i % 2 != 0:
        continue
    print ("%d ^ 2 = %d" % (i, i*i))

0 ^ 2 = 0
2 ^ 2 = 4
4 ^ 2 = 16

# 함수

In [19]:
def min(a, b):
    if a > b:
        return b
    else:
        return a
print(min(10, 20))

10

In [20]:
def divide(a, b):
    return (a/b, a%b)
q, r = divide(3,2)
print(q, r) # (정수형/정수형: 실수형 출력 (교재와 틀림))

1.5 1

In [22]:
# 함수의 범위
m = 0
n = 1
def func():
    global n
    #m += 1
    n += 1
func()
print (m, n)

0 2

In [23]:
# 함수의 중첩
def counter(max):
    t = 0
    def output():
        print ("t = %d" % t)
    while t < max:
        output()
        t += 1
counter(10)

t = 0
t = 1
t = 2
t = 3
t = 4
t = 5
t = 6
t = 7
t = 8
t = 9

In [24]:
# 함수의 중첩
def counter(max):
    t = 0
    def output():
        print ("t = %d" % t)
    while t < max:
        output()
        t += 1
counter(10)

t = 0
t = 1
t = 2
t = 3
t = 4
t = 5
t = 6
t = 7
t = 8
t = 9

In [26]:
# 재귀함수
def factorial(n):
    if n <= 1:
        return 1
    else:
        return n * factorial(n - 1)
factorial(3)

6

In [28]:
# lambda 함수
a = lambda x, y : x+y
print(a(1,2))

3

# 클로저(closure)

In [34]:
import func
def hello():
    return "Hello World"
print(func.func(hello))

Hello World

# 장식자(decorator)

In [36]:
def helloBye(func):
    def wrapper():
        print( "hello")
        func()
        print ("bye")
    return wrapper

@helloBye
def f1():
    print ("f1() runned.")
    
def f2():
    print ("f2() runned.")
    
@helloBye
def f3():
    print ("f3() runned.")
    
if __name__ == '__main__':
    f1()
    print( "------")
    f2()
    print ("------")
    f3()

hello
f1() runned.
bye
------
f2() runned.
------
hello
f3() runned.
bye

# 생성기(generator)

In [54]:
def counter3(max):
    t = 0
    while t < max:
        yield t
        t += 1
    return
timer = counter3(5)
#timer.next() # ERROR:'generator' object has no attribute 'next'
#timer.next()
print(next(timer)) # ERROR: 'int' object is not callable. Upgrade되면서 이 방법도 에러. 따라서 생성기는 사용하지 말길 바람

TypeError: 'int' object is not callable

# 리스트 내포 (list comprehension)

In [59]:
numbers = [0, 1, 2, 3, 4]
evens = [2*i for i in numbers]
print(evens)
evens2 = (2*i for i in numbers)
print(evens2)
#print(next(evens2)). gnerator에서처럼 에러남. 사용하지 말길.
#print(evens2.next()). gnerator에서처럼 에러남. 사용하지 말길.

[0, 2, 4, 6, 8]
<generator object <genexpr> at 0x000001F1E59A7290>

AttributeError: 'generator' object has no attribute 'next'

# 클래스와 객체

In [62]:
class Rectangle:
    count = 0 # 클래스 변수
    # 초기자(initializer)
    def __init__(self, width, height):
        # self.* : 인스턴스변수
        self.width = width
        self.height = height
        Rectangle.count += 1

    # 메서드
    def calcArea(self):
        area = self.width * self.height
        return area

In [63]:
# 인스턴스 생성
r = Rectangle(2, 3)
# 메서드 호출
area = r.calcArea()
print("area = ", area)
# 인스턴스 변수 엑세스
r.width = 10
print("width = ", r.width)
# 클래스 변수 엑세스
print(Rectangle.count)
print(r.count)

area =  6
width =  10
1
1

In [ ]:
class Animal:
    def __init__(self, name):
        self.name = name
    def move(self):
        print("move")
    def speak(self):
        pass
class Dog (Animal):
    def speak(self):
        print("bark")
class Duck (Animal):
    def speak(self):
        print("quack")

In [ ]:
dog = Dog("doggy") # 부모클래스의 생성자
n = dog.name # 부모클래스의 인스턴스변수
print("name= ", n) 
print("name= ", dog.name)
dog.move() # 부모클래스의 메서드
dog.speak() # 파생클래스의 멤버

In [2]:
f = open("test.txt")
line = f.readline()
while line:
    print(line)
    line = f.readline()
f.close()

Test file.

In [3]:
f1=open("out.txt","w")
f1.write("This file is %s" % ("out.txt"))
f1.close()

In [4]:
with open("out1.txt","w") as f2:
	f2.write("This file is %s" % ("out1.txt"))

f3 = open("out2.txt", "w")
print("This files is %s" % ("out2.txt"), file=f3)

In [5]:
import sys
sys.stdout.write("Enter your name: ")
#name = sys.stdin.readline()
name = input()
print("Your name is %s" % name)

Enter your name: Lee
Your name is Lee

In [6]:
#importing pickle module
import pickle

#declaring a numbers list
o = [1,2,3,4,5,6,'Lee']

#pickling the list and storing in a file
f = open('test.pickle','wb')
pickle.dump(o,f)
f.close()
print("The list pickle is created successfully.")

The list pickle is created successfully.

In [7]:
f = open("test.pickle","rb")
o = pickle.load(f)
print(o)
f.close()

[1, 2, 3, 4, 5, 6, 'Lee']

In [8]:
x = input('Enter numenator : ')
y = input('Enter denomenator : ')

try:
	a = int(x)
	b = int(y)
	c = a/b
	print("Answer: %f" % c)
except ValueError as e:
    	print("%s. %s" % (e, 'Check if input string is parsable integer'))
except ZeroDivisionError:
    	print('Denomenator is zero.')

Enter numenator : 6
Enter denomenator : 3
Answer: 2.000000

In [ ]:
with open("test.txt","a") as f:
	f.write("write string")
	f.write("end\n")