In [18]:
print ("Hello World !!!")

Hello World !!!

In [7]:
1+2+3

6

In [21]:
(0 < 1) and (2 < 3)
1==3 # Only this line is run.

False

In [22]:
print((0 < 1) and (2 > 3))
print(1==3)

False
False

In [12]:
not ("a" == 'A')

True

In [13]:
not (1 == 2)

True

In [21]:
n=1
name='kim'
n=n+2
value=1.2*n
print("%f is 1.2 * %d" % (value,n))

3.600000 is 1.2 * 3

In [14]:
n=1
name="kim"
n=n+2
value=1.8*n
print("%f is 1.2 * %d" % (value,n))

5.400000 is 1.2 * 3

In [30]:
num = 1
prev = 0
cur = 1
while num < 10:
    next = cur + prev
    print ("%2d %d" % (num, next))
    prev = cur
    cur = next
    num += 1

 1 1
 2 2
 3 3
 4 5
 5 8
 6 13
 7 21
 8 34
 9 55

In [17]:
m = 0
n = 1
def func():
    global n
    #m += 1
    n += 1
func()
print (m, n)

0 2

In [37]:
def counter(max):
    t = 0
    def output():
        print ("t = %d" % t)
    while t < max:
        output()
        t += 1
counter(10)

t = 0
t = 1
t = 2
t = 3
t = 4
t = 5
t = 6
t = 7
t = 8
t = 9

In [13]:
def factorial(n):
    if n <= 1:
        return 1
    else:
        return n * factorial(n - 1)

In [14]:
factorial(3)

6

In [38]:
a = "Hello World"
print(a[0])
print(a[5:8])
print(a[-1])
print(a*2)
b="Goodbye"
print(a+b)

H
 Wo
d
Hello WorldHello World
Hello WorldGoodbye

In [24]:
numbers = [0, 1, 2, 3]
names = ["Kim", "Lee", "Park", "Choi"]
print(numbers[0])
print(names[2:])
print(numbers+names)

0
['Park', 'Choi']
[0, 1, 2, 3, 'Kim', 'Lee', 'Park', 'Choi']

In [29]:
#numbers = [0, 1, 2, 3,4]
numbers[0]=10
print(numbers[0])

10

In [27]:
person=("kim",24,'maie')

In [28]:
person[0]="Lee" # errpr.

TypeError: 'tuple' object does not support item assignment

In [30]:
a=()
print(a)

()

In [31]:
b=(person,)
print(b)

(('kim', 24, 'maie'),)

In [33]:
name, age, g=person
print(name)
print(g)

kim
maie

In [34]:
even=set([0,2,4,6])
odd=set("Hello")
print(odd)

{'e', 'l', 'o', 'H'}

In [35]:
print("Hello")

Hello

In [36]:
print(even&odd)

set()

In [42]:
#ven.remove(0)
print(even)
odd.remove('H')
print(odd)

{2, 4, 6}
{'e', 'l', 'o'}

In [43]:
type(10)

int

In [44]:
print(type(10))

<class 'int'>

In [45]:
print(type(type(10)))

<class 'type'>

In [57]:
#Setup
n=0

#Loop
while n<=10:
    if ((n %2)==0):
        print(n)
        print(n+1)
    n=n+1

0
1
2
3
4
5
6
7
8
9
10
11

In [60]:
a=10
b=3
if a>b:
    print("max is %d" % a)
else:
    print("max is %d" % b)

max is 10

In [71]:
n=3
m=4
for i in range(1,10):
    print("%d x %d = %2d    %d x %d = %2d" %(n, i, n*i,m,i, m*i))

3 x 1 =  3    4 x 1 =  4
3 x 2 =  6    4 x 2 =  8
3 x 3 =  9    4 x 3 = 12
3 x 4 = 12    4 x 4 = 16
3 x 5 = 15    4 x 5 = 20
3 x 6 = 18    4 x 6 = 24
3 x 7 = 21    4 x 7 = 28
3 x 8 = 24    4 x 8 = 32
3 x 9 = 27    4 x 9 = 36

In [74]:
for i in range(5):
    print("%d^2 = %d" % (i,i*i))

0^2 = 0
1^2 = 1
2^2 = 4
3^2 = 9
4^2 = 16

In [79]:
for i in [0,1,2,3,4,5]:
    if i%2 !=0:
        continue
    print("%d ^2 = %2d" % (i,i*i))

0 ^2 =  0
2 ^2 =  4
4 ^2 = 16

In [80]:
for i in [0,1,2,3,4,5]:
    if i%2 !=0:
        break
    print("%d ^2 = %2d" % (i,i*i))

0 ^2 =  0

In [81]:
def min(a,b):
    if a>b:
        return b
    else:
        return a
c=min(10,20)
print(c)

10

In [83]:
def divide(a,b):
    return(a/b,a%b)
q,r=divide(3,2)
print (q,r)

1.5 1

In [84]:
print(3/2)

1.5

In [85]:
print(int(3/2))

1