In [17]:
print ("“Hello World")

“Hello World

In [18]:
1+2+3

6

In [19]:
(0 < 1) and (2 < 3)

True

In [20]:
not (1 == 2)

True

In [21]:
n=1
name='kim'
n=n+2
value=1.2*n
print("%f is 1.2 * %d" % (value,n))

3.600000 is 1.2 * 3

In [30]:
num = 1
prev = 0
cur = 1
while num < 10:
    next = cur + prev
    print ("%2d %d" % (num, next))
    prev = cur
    cur = next
    num += 1

 1 1
 2 2
 3 3
 4 5
 5 8
 6 13
 7 21
 8 34
 9 55

In [33]:
m = 0
n = 1
def func():
    global n
    #m += 1
    n += 1
func()
print (m, n)

0 2

In [37]:
def counter(max):
    t = 0
    def output():
        print ("t = %d" % t)
    while t < max:
        output()
        t += 1
counter(10)

t = 0
t = 1
t = 2
t = 3
t = 4
t = 5
t = 6
t = 7
t = 8
t = 9

In [13]:
def factorial(n):
    if n <= 1:
        return 1
    else:
        return n * factorial(n - 1)

In [14]:
factorial(3)

6

In [38]:
a = "Hello World"
print(a[0])
print(a[5:8])
print(a[-1])
print(a*2)
b="Goodbye"
print(a+b)

H
 Wo
d
Hello WorldHello World
Hello WorldGoodbye

In [42]:
numbers = [0, 1, 2, 3]
names = ["Kim", "Lee", "Park", "Choi"]
print(numbers[0])
print(names[2:])
print(numbers+names)

0
['Park', 'Choi']
[0, 1, 2, 3, 'Kim', 'Lee', 'Park', 'Choi']